@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size:14px; 
	line-height:23px; 
	color:#8c8c8c; 
	min-width:1038px; 
	background:url(../images/body_bg.jpg) 0 0 repeat; 
	-webkit-text-size-adjust: none;
	}
#page2{line-height:21px;}
.main{
	width:1038px;
	margin:30px auto 30px;
	background:#fff;
	height: auto;
	box-shadow: 0 0 40px #ccc;
	-moz-box-shadow: 0 0 40px #ccc;
	-webkit-box-shadow: 0 0 40px #ccc;
	}
/*********************************fonts*************************************/
.reg {text-transform:uppercase}
.fleft {float:left}
.fright {float:right}
.align_right {text-align:right}
.align_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}
.block{display:block;}
/*********************************CLASSES**********************************/
.m_bottom_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bottom_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {width:100%;overflow:hidden}
.extra_wrapper{ overflow:hidden;}
.container{width:100%}
.extra_last, .last{ margin-bottom:0 !important; padding-bottom:0 !important;}
.extra_last{ border:none !important; background:none !important;}
.bg_none{ background:none !important;}
.wrapper-after:after{
 clear:both;
 content:".";
 display:block;
 height:0;
 visibility:hidden;}

/*==================================== Links ======================================================== */
a {
	color:#252832;
	outline:none; 
	text-decoration:none; 
	cursor:pointer;
	}
a:hover{
	color:#e9ba16; 
	text-decoration:none;
	}
.button{
	display:inline-block; 
	padding:7px 13px 8px 13px; 
	margin: 0 0 0 0; 
	font-size: 14px; 
	line-height: 20px; 
	background: url(../images/bg-button.jpg) 0 0 repeat-x #1d1d20;
	color:#fff;
	border-top:2px solid #45454b;
	border-left:1px solid #45454b;
	border-right:1px solid #45454b;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	}
.button:hover{
	background:#e09c11; 
	border-top:2px solid #e7b114;
	border-left:1px solid #e7b114;
	border-right:1px solid #e7b114;
	color:#000;
	}
a[href^="tel:"]{color: inherit; text-decoration:none;}
-webkit-text-size-adjust: none;
/*********************************Displays*************************************/
.block{ display:block;}
.inline-block{ display:inline-block;}
.block-img{display:block;}

.col{color:#252832;}
.hov:hover{color:#000;}
/*********************************header*************************************/

header {
	margin:0 10px;
	padding:20px 0 0 0;
	}
header h1{
	display:block;
	float:left;
	overflow:hidden;
	}
header h1 span{
	text-indent:-9999px;
	display:inline-block;
	}
header h1 a {
	display: inline-block;
	}
.social{
	float:right;
	padding:9px 0 0 0;
	}
.social a{
	display:inline-block;
	width:36px;
	height:36px;
	margin-left:2px;
	}
	.social a:hover{background-position:0 bottom !important;}
#soc1{background: url(../images/soc1.png) 0 0 no-repeat;}
#soc2{background: url(../images/soc2.png) 0 0 no-repeat;}
#soc3{background: url(../images/soc3.png) 0 0 no-repeat;}
#soc4{background: url(../images/soc4.png) 0 0 no-repeat;}
/*********************************content*************************************/
#page1 #content{padding:60px 0px 55px 0px}
#page2 #content{padding:60px 0px 55px 0px}
#content {padding:0 0 0 0}
.cont_pad{padding:0 0 0 0 !important;}

/*===============================>> Paragraphs <<=============================*/
.top{margin-top:8px;}
.top-1{margin-top:2px;}

p{padding-bottom:23px;}
.p2{ margin-bottom:18px;}
.p3{ margin-bottom:9px;}
.p4{ margin-bottom:26px;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}

.divider{
	border-bottom:1px solid #e8e8e9;
	padding-bottom:49px;
	}
/*================================>> LISTS <<========================================*/
.list{}
.list li{
	background:url(../images/marker1.jpg) 0 18px no-repeat; 
	padding:9px 0 9px 20px;
	border-top:1px solid #e5e5e5;
	font-size:14px;
	line-height:20px;
	}
	.list li:first-child{border-top:none;}
.list a{color:#8c8c8c;}
.list a:hover{color:#e9ba16;}

.list-1{}
.list-1 li{
	background:url(../images/marker1.jpg) 0 14px no-repeat; 
	padding:5px 0 5px 13px;
	border-top:1px solid #38383a;
	font-size:14px;
	line-height:20px;
	}
	.list-1 li:first-child{border-top:none;}
.list-1 a{color:#8c8c8c;}
.list-1 a:hover{color:#e2a212;}

.list-2{}
.list-2 li{
	box-shadow:inset 0 2px 1px rgba(255,255,255,0.5);
	background: #ededed;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	line-height:30px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:-1px;
	margin-bottom:5px;
	}
.list-2 li:hover{background: url(../images/list-2-li.jpg) 0 0 repeat-x #d9870e;}
.list-2 li a{
	color:#252832;
	display:block;
	padding:10px 0 10px 14px;
	}
.list-2 li a:hover{color:#fff;}

.list-3{}
.list-3 li{
	overflow:hidden;
	}
.list-3 span{
	display:block;
	float:left;
	width:30px;
	font-size:18px;
	line-height:24px;
	color:#252832;
	}
.list-3{}

.extra-list{}
.extra-list li{
	overflow:hidden;
	margin-bottom:40px;
	}
.extra-list li .extra-wrap{overflow:hidden;}
.extra-list img{
	float:left;
	margin:0 20px 0 0;
	}
	
.list-client{
	font-size:14px;
	line-height:21px;
	margin:0 0 0 -24px;
	overflow:hidden;
	}
.list-client li{
	width:190px;
	float:left;
	margin:0 0 30px 24px;
	}
.list-client img{
	border:1px solid #ededed;
	margin-bottom:18px;
	}
.list-client p{padding-bottom:0;}
.list-client a{text-decoration:underline;}
.list-client a:hover{text-decoration:underline;}
/*================================>> H <<========================================*/
h2,h3,h4{
	font-weight:normal;
	text-transform:uppercase;
	}
h2{
	font-size: 25px; 
	line-height: 30px; 
	color:#252832;
	font-family: 'Open Sans', sans-serif;
	}

.ind{ margin:22px 0 21px 0;}
.ind1{ margin:22px 0 16px 0;}
.ind2{ margin:15px 0 20px 0;}

h3{
	font-size: 20px; 
	line-height: 24px; 
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;	
	color:#252832;
	}
h4{
	font-size:20px;
	line-height:24px;
	color:#b1b1b1;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	}
.font20{
	font-size:20px;
	line-height:24px;
	color:#e2a212;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	}
.font15{
	font-size:15px;
	line-height:20px;
	color:#212124;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	}
/*================================>> GOOGLE FONTS  <<========================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);/*font-family: 'Open Sans', sans-serif;*/
/*================================>> hovers <<========================================*/
.button{-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}

/*********************************page_1*************************************/
.block-wrap{
	overflow:hidden;
	margin:0 0 17px 0;}
.block-wrap h3{padding:6px 0 0 0;}
.block-wrap img{margin:0 17px 0 0;}

.blovk-wrap-1{
	overflow:hidden;
	margin:0 0 19px 0;
	}
	.blovk-wrap-1 img{margin:0 14px 0 0;}
.blovk-wrap-1 .font20{
	white-space:nowrap;
	letter-spacing:-1px;
	}

/*********************************page_2*************************************/
.block-1{
	background:#ededed;
	padding:15px;
	}
	.block-1 img{margin-bottom:8px;}
	.block-1 p{padding-bottom:0;}

/*********************************page_6*************************************/
.pp_fleft{float:left;}
.pp_fright{float:right;}
.pp{
	color:#252832;
	text-decoration:underline;
	}
/*==================aside====================*/
aside{
        background:#212124;
	padding:10px 0 10px 0;
	}
	.telphone{
		overflow:hidden;
		}
		.telphone img{margin:0 12px 0 0;}
		.telphone span{
			font-family: 'Open Sans', sans-serif;
			font-size:23px;
			line-height:26px;
			display:block;
			text-transform:uppercase;
			color:#a1a1a0;
			}
		.telphone span+span{
			font-size:19px;
			line-height:24px;
			color:#e2a212;
			}
/****************************footer************************/
footer {
	background:#212124;
	padding:15px 0 10px;
	}
footer a{color:#8c8c8c;}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width:1038px) {
body{ min-width:995px}
 .main{width:995px;}	
}


@media only screen and (max-width: 995px) {
.main{ width:768px;}
 body{min-width:768px;}
 .map_wrapper{display:block;}
 #map_canvas {
   width:100%;
   height:240px;
}
#contact-form label {display:block;}
#contact-form textarea, #contact-form input{width:100%;}
.blovk-wrap-1 img{
	float:none;
	width:100%;
	margin-bottom:10px;
	}
.list-2 li{
	font-size:16px;
	line-height:22px;
	}
}

@media only screen and (max-width: 767px) {
.main{ width:420px;}	
 body{min-width:420px;}
 header .wrapper{text-align:center;}
 header h1{
	 float:none;
	 display:inline-block;
	 }
nav{
	background:none;
	border:none;
	border-radius:none;
	}
nav:before{display:none;}
 .social{
	 float:none;
	 margin:20px 0 0 0;
	 }
.indent{padding:0 10px;}
.block-wrap .extra-wrap{padding:6px 0 0 0;}
.block-1 img{
	display:block;
	width:100%;
	}
.extra-list li{margin-bottom:20px;}
.extra-list li .extra-wrap{overflow:visible;}
 .map_wrapper{display:block;}
 #map_canvas {
   width:100%;
   height:240px;
}
.list-client li{
	width: 90%;
	display:block;
	}
.list-client li img{width:100%;}
nav{padding:0 10px;}
nav select{
    width:100%;
	}
	.blovk-wrap-1 img{
	float:left;
	width: auto;
	margin-bottom:10px;
	}
	.blovk-wrap-1 .font15{display:block;}
.divider{padding-bottom:15px;}
}

@media only screen and (max-width: 479px) {
.main{ width:300px;}
 body{min-width:300px;}
 .extra-list li img{
	 float:none;
	 width:100%;
	 }
	 

}

.logo{
    width: auto;
    margin:20px;
    height: auto;
   -moz-box-shadow: 0 0 20px gray;
   -webkit-box-shadow: 0 0 20px gray;
   box-shadow: 0 0 20px gray;
}


.bookshelf {
    background: url(../images/wall-bookshelf.png) 0 0 no-repeat;
    width: 350px;
    height: 53px;
    margin-top: 160px;
    left: 20px;
    position: relative;
}

.books {
    position: relative;
    bottom: 145px;
    width: 100%;
}

.books ul {
    width: 90%;
}

.books li a {
    width: 93px;
    height: 120px;
    padding-right: 60px;
    float: left;
    list-style: none;
}

.books_title {
    position: absolute;
    width: 400px;
    text-align: center;
}

.books_title ul {
    width: 90%;
}

.books_title li a {
    width: auto;
    float: left;
    list-style: none;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.padding {
    padding: 0 20px;
}

.login_box{
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #e5eCf9;    
    box-shadow: 2px 2px 2px #888888;
    border: solid 1px silver;    
    border-radius: 5px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #DFE8E8 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #DFE8E8 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #DFE8E8 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #DFE8E8));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #DFE8E8 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #DFE8E8 100%);
}

.gradient_gray_box{
    padding: 5px;
    border: solid 1px silver;
    border-radius: 5px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #CBD9CB 0%, #FFFFFF 50%, #C6D4C6 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #CBD9CB 0%, #FFFFFF 50%, #C6D4C6 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #CBD9CB 0%, #FFFFFF 50%, #C6D4C6 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CBD9CB), color-stop(0.5, #FFFFFF), color-stop(1, #C6D4C6));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #CBD9CB 0%, #FFFFFF 50%, #C6D4C6 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #CBD9CB 0%, #FFFFFF 50%, #C6D4C6 100%);
}

.gradient_gray_box:hover{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #A7B3A7 0%, #FFFFFF 50%, #A5B0A5 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #A7B3A7 0%, #FFFFFF 50%, #A5B0A5 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #A7B3A7 0%, #FFFFFF 50%, #A5B0A5 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #A7B3A7), color-stop(0.5, #FFFFFF), color-stop(1, #A5B0A5));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #A7B3A7 0%, #FFFFFF 50%, #A5B0A5 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #A7B3A7 0%, #FFFFFF 50%, #A5B0A5 100%);
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
}

.hover_opacity:hover{
    opacity:0.5;
}